
main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F7F8FD;
  width: 670px;
  height: 80px;
  background: var(--9---White, #FFF);
  border-radius: 8px;
  gap:10px;
}


